/***************** ONLY FOR TRANSLATION MASTERLIST PAGE ***********/

/********** SOURCE IMAGES IN IMAGES FOLDER ******************/

.pagehead {
    text-align: center;
    font-size: 1.3em;
    text-decoration: underline;
    font-weight: bold;
}

.subhead {
    text-align: center;
    font-size: 1.1em;   
}

.wip {
    filter: grayscale(1);
}

.icon {
    margin: auto;
    display: block;
    opacity: 70%;
    transition-duration: 0.5s;
    min-width: 100px; /* for mobile consideration */
    max-width: 150px; /* current image max size */
}

figure a:link {
    text-decoration: underline;
    text-underline-position: under;
}

.icon:hover, figure a:hover > .icon {
    opacity: 100%;
}

.display {
    display: flex;
    flex-wrap: wrap; /* allows links to wrap into new row */
    justify-content: center; /* center alignment */
    row-gap: 0.6em;
}

figure {
    max-width: 150px;
}

figcaption {
    text-align: center;
    font-size: 0.9em;
    max-width: 150px;
    margin: auto;
}

img {
    width: 50%;
}

summary {
    text-align: center;
    background-color: #e4e4e4;
    padding: 0.30em 0;
    border: 1.2px solid #5d5d5d;
    transition-duration: 0.6s;
}

summary:hover {
    background-color: #ffffd8;
    color: #000000;
    transition-duration: 0.6s;
    cursor: pointer;
}

summary:active{
    background-color: #ffdba5;
}

details {
    padding: 0.05em 4.0em;
    word-wrap: normal;
    text-align: center;
}

details summary::marker, /* Latest Chrome, Edge, Firefox */ 
details summary::-webkit-details-marker /* Safari */ {
    content: '\f07b' '  ';
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    /*display: none;*/
}

details[open] summary::marker,
details[open] summary::-webkit-details-marker {
    content: '\f07c' ' ';
}

@media only screen and (max-device-width: 650px) {
    img { /* kiv */
      width: 80%;
    }
    .display {
        justify-content: space-evenly !important;
    }
    figure {
        min-width: 100px;
        max-width: 120px;
    }
}