/* Bubble background base is f7f1e4. Color based off the character's image  color's HUE */

.name {
  position: relative;
  left: 5px;
  top: 22px;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: bold;
}

.thought {
  color: #3939a7;
}

.bubble > p {
  margin-top: .55em;
  margin-bottom: 0;
}

span.b {
  display : inline-block;
}

.icon {
  display: inline-block;
  width: 95px;
  height: 95px;
  float: left;
  clear: left;
  margin: 0 !important;
  border-radius: 50%;
  background-image: var(--icon);
  background-size: cover;
}

.arrow {
  width: 0;
  height: 0;
  float: left;
  margin: 67px 0 0 2px;
  border-top: 10px solid transparent;
  border-right: 25px solid var(--color, #f1f1f1);
  border-bottom: 15px solid transparent;
}

.bubble {
  margin-left: 120px;
  margin-top: 20px;
  padding: 16px;
  border-radius: 10px;
  background: var(--color, #f1f1f1);
}

.bubble:nth-of-type(n+4) {
  margin-top: 5px;
}

.bubble:last-of-type {
  margin-bottom: 25px;
}

@media (max-width: 650px) {
  .icon {
    width: 55px !important;
    height: 55px !important;
  }

  .arrow {
    border-top: 8px solid transparent !important;
    border-bottom: 8px solid transparent !important;
    border-right: 15px solid var(--color, #f1f1f1) !important;
    margin: 30px 0 0 2px !important;
  }

  .bubble {
    padding: .75em !important;
    margin-left: 70px !important;
    margin-top: 20px !important;
  }

  .bubble:last-of-type {
    margin-bottom: 15px !important;
  }
}

/* GENERAL UNKNOWN CHARACTER PORTRAIT */

/* e.g. mobs, unknown character, no image character*/
.mc {
  --color: #bdbdbd;
  --icon: url("/icons/common/mcdialogue.png");
}

/* e.g. off screen character dialogue*/
.voice {
  --icon: url("/icons/common/mcdialogue.png");
}


/* NENEROBO */

.nenerobo-day {
  --color: #d6ddd8;
  --icon: url("/icons/common/prsk day/nenerobo.png");
}

.nenerobo-dusk {
  --color: #d6ddd8;
  --icon: url("/icons/common/prsk dusk/nenerobo.png");
}

/* KIGURUMI */

.mascot-day {
  --color: #f3d2c5;
  --icon: url("/icons/common/prsk day/kigurumi.png");
}


/* CROWLEY */

.crowley-1 {
  --color: #e7e5ec;
  --icon: url("/icons/common/twst/crow1.png");
}

.crowley-2 {
  --color: #e7e5ec;
  --icon: url("/icons/common/twst/crow2.png");
}

.crowley-3 {
  --color: #e7e5ec;
  --icon: url("/icons/common/twst/crow3.png");
}

.crowley-4 {
  --color: #e7e5ec;
  --icon: url("/icons/common/twst/crow4.png");
}

.crowley-5 {
  --color: #e7e5ec;
  --icon: url("/icons/common/twst/crow5.png");
}

.crowley-6 {
  --color: #e7e5ec;
  --icon: url("/icons/common/twst/crow6.png");
}

.crowley-7 {
  --color: #e7e5ec;
  --icon: url("/icons/common/twst/crow7.png");
}

/* GHOSTS */

.ghost-chef {
  --color: #e7e5ec;
  --icon: url("/icons/master chef spicy/ghost1.png");
}

/***** NAMED CHARACTER CLASSES *****/

.trey {
  --color: #b2dfb7;
}

.kalim {
  --color: #f5e1c7;
}

.leona {
  --color: #f5edc9;
}

.ruggie {
  --color: #eed8b0;
}

.floyd {
  --color: #c1fff5;
}

.treykalim {
  --color: #e5e6b0;
}

.rin {
  --color: #fff4d4;
}

.rui {
  --color: #dbc7e7;
}

.tsukasa {
  --color: #fff9e7;
}

.emu {
  --color: #fce0fa;
}

.nene {
  --color: #d6ebd9;
}

.ichika {
  --color: #bbdaf7;
}

.honami {
  --color: #f5c9c9;
}

.saki {
  --color: #ffe8c6;
}

.shiho {
  --color: #bfffd1;
}

.ichikasaki {
  --color: #b7fcf8;
}

.leoneed {
  --color: #dad5eb;
}


/************ OUTFIT SUBCLASSES (TWST -> PRSK) **************/

/* TREY - BIRTHDAY */

.trey.bd-1 {
  --icon: url("/icons/trey birthday/treyface1.png");
}

.trey.bd-2 {
  --icon: url("/icons/trey birthday/treyface2.png");
}

.trey.bd-3 {
  --icon: url("/icons/trey birthday/treyface3.png");
}

.trey.bd-4 {
  --icon: url("/icons/trey birthday/treyface4.png");
}

.trey.bd-5 {
  --icon: url("/icons/trey birthday/treyface5.png");
}

.trey.bd-6 {
  --icon: url("/icons/trey birthday/treyface6.png");
}

.trey.bd-7 {
  --icon: url("/icons/trey birthday/treyface7.png");
}

.trey.bd-8 {
  --icon: url("/icons/trey birthday/treyface8.png");
}

.trey.bd-9 {
  --icon: url("/icons/trey birthday/treyface9.png");
}

/* TREY - CHEF UNIFORM */

.trey.chef-general {
  --icon: url("/icons/master chef spicy/treygeneral.png");
}

.trey.chef-1 {
  --icon: url("/icons/master chef spicy/treyface1.png");
}

.trey.chef-2 {
  --icon: url("/icons/master chef spicy/treyface2.png");
}

.trey.chef-3 {
  --icon: url("/icons/master chef spicy/treyface3.png");
}

.trey.chef-4 {
  --icon: url("/icons/master chef spicy/treyface4.png");
}

/* LEONA - OUTDOOR */

.leona.outdoor-general {
  --icon: url("/icons/outdoor/leonafacegeneral.png");
}

.leona.outdoor-1 {
  --icon: url("/icons/outdoor/leonaface1.png");
}

.leona.outdoor-2 {
  --icon: url("/icons/outdoor/leonaface2.png");
}

.leona.outdoor-3 {
  --icon: url("/icons/outdoor/leonaface3.png");
}

.leona.outdoor-4 {
  --icon: url("/icons/outdoor/leonaface4.png");
}

/* RUGGIE - OUTDOOR */

.ruggie.outdoor-general {
  --icon: url("/icons/outdoor/ruggiegeneral.png");
}

.ruggie.outdoor-1 {
  --icon: url("/icons/outdoor/ruggieface1.png");
}

.ruggie.outdoor-2 {
  --icon: url("/icons/outdoor/ruggieface2.png");
}

.ruggie.outdoor-3 {
  --icon: url("/icons/outdoor/ruggieface3.png");
}

.ruggie.outdoor-4 {
  --icon: url("/icons/outdoor/ruggieface4.png");
}

.ruggie.outdoor-5 {
  --icon: url("/icons/outdoor/ruggieface5.png");
}

.ruggie.outdoor-6 {
  --icon: url("/icons/outdoor/ruggieface6.png");
}

.ruggie.outdoor-7 {
  --icon: url("/icons/outdoor/ruggieface7.png");
}

.ruggie.outdoor-8 {
  --icon: url("/icons/outdoor/ruggieface8.png");
}

/* FLOYD - OUTDOOR */

.floyd.outdoor-general {
  --icon: url("/icons/outdoor/floydgeneral.png");
}

/* KALIM - CHEF UNIFORM */

.kalim.chef-general {
  --icon: url("/icons/master chef spicy/kalimgeneral.png");
}

.kalim.chef-1 {
  --icon: url("/icons/master chef spicy/kalimface1.png");
}

.kalim.chef-2 {
  --icon: url("/icons/master chef spicy/kalimface2.png");
}

.kalim.chef-3 {
  --icon: url("/icons/master chef spicy/kalimface3.png");
}

.kalim.chef-4 {
  --icon: url("/icons/master chef spicy/kalimface4.png");
}

.kalim.chef-5 {
  --icon: url("/icons/master chef spicy/kalimface5.png");
}

/* TREY & KALIM - CHEF UNIFORM */

.treykalim.chef-general {
  --icon: url("/icons/master chef spicy/kalimtreygeneral.png");
}

/* RUI - WINTER UNIFORM */

.rui.winter-day-8 {
  --icon: url("/icons/common/prsk day/ruiface8.png");
}

.rui.winter-dusk-1 {
  --icon: url("/icons/common/prsk dusk/ruiface1.png");
}

/* RUI - WONDERHOI */

.rui.unit-day-1 {
  --icon: url("/icons/common/prsk day/ruiunitface1.png");
}

/* RUI - CASUAL */

.rui.casual-day-1 {
  --icon: url("/icons/common/prsk day/ruicasualface1.png");
}

/* TSUKASA - WINTER UNIFORM */

.tsukasa.winter-day-3 {
  --icon: url("/icons/common/prsk day/tsukasaface3.png");
}

.tsukasa.winter-dusk-1 {
  --icon: url("/icons/common/prsk dusk/tsukasaface1.png");
}

/* TSUKASA - CASUAL */

.tsukasa.casual-day-1 {
  --icon: url("/icons/common/prsk day/tsukasacasualface1.png");
}

/* TSUKASA - WONDERHOI */

.tsukasa.unit-day-1 {
  --icon: url("/icons/common/prsk day/tsukasaunitface1.png");
}

/* NENE - WONDERHOI */

.nene.unit-day-1 {
  --icon: url("/icons/common/prsk day/neneunitface1.png");
}

.nene.unit-dusk-1 {
  --icon: url("/icons/common/prsk dusk/neneunitface1.png");
}

/* NENE - WINTER UNIFORM */

.nene.winter-dusk-1 {
  --icon: url("/icons/common/prsk dusk/neneface1.png");
}

/* NENE - CASUAL */

.nene.casual-day-1 {
  --icon: url("/icons/common/prsk day/nenecasualface1.png");
}

/* EMU - WONDERHOI */

.emu.unit-day-1 {
  --icon: url("/icons/common/prsk day/emuunitface1.png");
}

/* EMU - CASUAL */

.emu.casual-day-1 {
  --icon: url("/icons/common/prsk day/emucasualface1.png");
}

/* EMU - WINTER UNIFORM */

.emu.winter-dusk-1 {
  --icon: url("/icons/common/prsk dusk/emuface1.png");
}

/* HONAMI - CASUAL */

.honami.casual-day-1 {
  --icon: url("/icons/common/prsk day/honamicasualface1.png");
}

/* ICHIKA - CASUAL */

.ichika.casual-day-1 {
  --icon: url("/icons/common/prsk day/ichikacasualface1.png");
}

/* SAKI - CASUAL */

.saki.casual-day-1 {
  --icon: url("/icons/common/prsk day/sakicasualface1.png");
}

/* SHIHO - CASUAL */

.shiho.casual-day-1 {
  --icon: url("/icons/common/prsk day/shihocasualface1.png");
}

/* ICHIKA & SAKI - CASUAL */

.ichikasaki.casual-day-1 {
  --icon: url("/icons/common/prsk day/ichikasakicasualface.png");
}

/* LEO/NEED - CASUAL */

.leoneed.casual-day-1 {
  --icon: url("/icons/common/prsk day/leoneedcasual.png");
}