/* Bubble background base is f7f1e4. Color based off the character's image  color's HUE */

.name {
  position: relative;
  left: 5px;
  top: 0px;
  text-transform: uppercase;
  font-size: 91%;
  font-weight: bold;
}

.thought {
  color: #3939a7;
}

.bubble > p {
  margin-top: .3em;
  margin-bottom: .3em;
}

span.b {
  display : inline-block;
}

.icon {
  width: 95px;
  height: 95px;
  float: left;
  clear: left;
  margin: 0 !important;
  border-radius: 50%;
  background-image: var(--icon);
  background-size: cover;
}

.arrow {
  width: 0;
  height: 0;
  float: left;
  margin: 60px 0 0 2px;
  border-top: 10px solid transparent;
  border-right: 20px solid var(--color, #f1f1f1);
  border-bottom: 10px solid transparent;
}

.bubble {
  margin-left: 115px;
  margin-right: 8px;
  margin-bottom: 0px;
  padding: 14px;
  border-radius: 10px;
  background: var(--color, #f1f1f1);
  box-shadow: 1px 1px 3px #757575;
}

.bubble:nth-of-type(n+4) {
  margin-top: 8px;
}

.bubble:last-of-type {
  margin-bottom: 25px;
}

@media only screen and (max-device-width: 650px) {

  details {
    padding: 0 2.0em 1px 2.0em;
  }
  
  .icon {
    width: 55px !important;
    height: 55px !important;
  }

  .arrow {
    border-top: 3px solid transparent !important;
    border-bottom: 8px solid transparent !important;
    border-right: 15px solid var(--color, #f1f1f1) !important;
    margin: 45px 0 0 2px !important;
  }

  .bubble {
    padding: .75em !important;
    margin-left: 70px !important;
    margin-top: 0px !important;
    box-shadow: 1px 1px 2px #373737;
  }

  .bubble:nth-of-type(n+4) {
    margin-top: 5px !important; 
  }

  .bubble:last-of-type {
    margin-bottom: 15px !important;
  }

  .buttons {
    padding: 3px 3px;
    text-align: left;
    margin: auto;
    cursor: pointer;
    width: 49%;
    transition-duration: 0.5s;
  }

  .negabutton {
    padding: 3px 3px;
    text-align: left;
    margin: auto;
    width: 49%;
    transition-duration: 0.5s;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.buttons {
  padding: 20px 20px;
  text-align: center;
  margin-bottom: 15px;
  cursor: pointer;
  width: 49%;
  transition-duration: 0.5s;
}

.buttons:hover {
  background-color: #b8b8b8;
  color: #000000;
}

.buttons:active {
  background-color: #ffffff;
}

.negabutton {
  padding: 20px 20px;
  text-align: center;
  margin-bottom: 15px !important;
  width: 40%;
  transition-duration: 0.5s;
  pointer-events: none;
}

.buttonpains {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  cursor: not-allowed;
}

.highlight {
  background-color: #d5f3d7;
}

.tab-contents .tab {
  display: none;
}

.tab-contents .tab.active {
  display: block;
}

td {
  text-align: center;
  padding: 0.8em;
}

td:first-of-type {
  font-weight: bold;
}

::selection {
  background: #5753ba;
}

::-moz-selection { /*firefox stop being hipster challenge */
  background: #5753ba;
}

a:active {
  color: #5f5aff;
}


/*

text styles - small text, big text, return to footnote, sound effects, background title cards,
non background title cards

*/


.smalltext {
  font-size: 85%;
}

.bigtext, .rhythmic {
  font-size: 115%;
}

.returnup {
  font-size: 80%;
}

.prechoice {
  font-size: 105%;
}

.sfx, .bg {
  font-size: 110%;
}

.sfx {
  font-style: italic;
}

.sfx, .bg, .notbg {
  text-align: center;
}

.prechoice, .rhythmic {
  text-align: center;
  font-weight: bold;
}

/* GENERAL UNKNOWN CHARACTER PORTRAIT */

/* e.g. unknown character, no image character*/
.mc {
  --color: #bdbdbd;
  --icon: url("/icons/common/mcdialogue.png");
}

/* i need to like. explain this to myself better*/
.voice {
  --icon: url("/icons/common/mcdialogue.png");
}

/* too many fucking colours */
.toocolourful {
  --color: #d0dedf;
}

/* GENERAL - PRSK */
.nenerobo {
  --color: #d6ddd8;
  --icon: url("/icons/common/prsk/nenerobo.png");
}

.mascot {
  --color: #f3d2c5;
  --icon: url("/icons/common/prsk/kigurumi.png");
}

/* GRIM */
.grim {
  --color: #bdbdbd;
}

.grim.normal {
  --icon: url("/icons/common/twst/grim.png");
}

.grim.apple {
  --icon: url("/icons/apple/grim.png");
}

/* NAJMA */
.najma {
  --color: #f7c5c2;
}

.najma.yeah {
  --icon: url("/icons/common/twst/najma.png");
}

/* MARJA */
.marja {
  --color: #bbc9f0;
}

.marja.yeah {
  --icon: url("/icons/common/twst/marja.png");
}

/* COLOUR GROUPS - APPLE */

.grimsebekjade {
  --color: #a4e6bf;
}

.jadesebek {
  --color: #b8ffd6;
}

.sebekepel {
  --color: #abf3f8;
}

.epelmc {
  --color: #bcc2d3;
}

.jadeidia {
  --color: #bbf3e2;
}

.jadegrimidiasebek {
  --color: #adeeeb;
}

.jadegrimsebekepel {
  --color: #abd2f1;
}

.jadeepelidiagrimsebek {
  --color: #aeddf3;
}

.sebekepelidiajade {
  --color: #b4e7ff;
}

.idiajadesebek {
  --color: #b1f8f5;
}

.idiaepelsebek {
  --color: #b1e2f8;
}

/* COLOUR GROUPS - SILK */

.caterjamilgrimtrey {
  --color: #ffedeb;
  --icon: url("/icons/common/twst/school/caterjamilgrimtrey.png");
}

.jamilkalimtreygrimcater {
  --color: #e4e4e4;
  --icon: url("/icons/common/twst/school/jamilkalimtreygrimcater.png");
}

.kalimcater {
  --color: #f3c4ae;
  --icon: url("/icons/common/twst/kalimdormcatersilk.png");
}

.kalimjamiltreycater {
  --color: #e6c798;
  --icon: url("/icons/silk/kalimdormjamiltreycater.png");
}

.treycatergrim {
  --color: #b8be88;
}

.treycatergrimmalleus {
  --color: #bacf89;
}

.treycatermalleus {
  --color: #c3d4a3;
}

.treycatergrimmalleus.first {
  --icon: url("/icons/silk/treycatergrimmalleus.png");
}

.treycatergrimmalleus.second {
  --icon: url("/icons/silk/malleustreygrimcater.png");
}

.treyjamilcater {
  --color: #d1c998;
  --icon: url("/icons/common/twst/school/treyjamilcater.png");
}

.treyjamil {
  --color: #ccceb8;
  --icon: url("/icons/silk/treyjamil.png");
}


/***** NAMED CHARACTER CLASSES IMAGE COLOURS *****/


.ghost {
  --color: #e7e5ec;
}

.crowley {
  --color: #e7e5ec;
}

.trey {
  --color: #b2dfb7;
}

.sebek {
  --color: #ddf1d2;
}

.malleus {
  --color: #bbd8c1;
}

.silversebek {
  --color: #d7efe2;
}

.lilia {
  --color: #f3c7eb;
}

.riddle {
  --color: #eca1ab;
}

.ace {
  --color: #f2d4d0;
}

.deuce {
  --color: #dee2f2;
}

.jamil {
  --color: #e7bcb9;
}

.kalim {
  --color: #f5e1c7;
}

.silver {
  --color: #d5e4e6;
}

.leona {
  --color: #f5edc9;
}

.ruggie {
  --color: #eed8b0;
}

.azul {
  --color: #e6def5;
}

.floyd {
  --color: #c1edff;
}

.jade {
  --color: #c1ffe5;
}

.vil {
  --color: #f2ddff;
}

.epel {
  --color: #d9e3ff;
}

.rook {
  --color: #fbffe6;
}

.dominic {
  --color: #dbe0d0;
}

.hop {
  --color: #fff4df;
}

.timmy {
  --color: #c0d7fa;
}

.shelpy {
  --color: #c1e7db;
}

.gran {
  --color: #f89eb4;
}

.snick {
  --color: #fdd2cc;
}

.toby {
  --color: #f7cfe5;
}

.dwarves {
  --color: #f7eecf;
}

.dwarvesminusdominic {
  --color: #f9ecdc;
}

.granhoptimmydominic {
  --color: #c0e1f2;
}

.granhop {
  --color: #f8d4b1;
}

.granepel {
  --color: #f8bfe5;
}

.idia {
  --color: #76e4ff;
}

.ortho {
  --color: #b6faff;
}

.cater {
  --color: #ffd7bd;
}

.jamilkalim {
  --color: #eeae9e;
}

.treykalim {
  --color: #e5e6b0;
}

.treycater {
  --color: #bec494;
}

.liliamalleussilver {
  --color: #b6d2ce;
}

.rin {
  --color: #fff4d4;
}

.riliane {
  --icon: url("/icons/common/prsk/riliane.png");
}

.len {
  --color: #ffe9d4;
}

.allen {
  --icon: url("/icons/common/prsk/allen.png");
}

.kaito {
  --color: #bdd6f3;
}

.luka {
  --color: #eed9f0;
}

.miku {
  --color: #c0f3e2;
}

.meiko {
  --color: #f3bcb5;
}

.rui {
  --color: #dbc7e7;
  --icon: url("/icons/common/prsk/rui.png");
}

.tsukasa {
  --color: #fff9e7;
  --icon: url("/icons/common/prsk/tsukasa.png");
}

.emu {
  --color: #fce0fa;
  --icon: url("/icons/common/prsk/emu.png");
}

.nene {
  --color: #d6ebd9;
}

.ichika {
  --color: #bbdaf7;
  --icon: url("/icons/common/prsk/ichika.png");
}

.honami {
  --color: #f5c9c9;
  --icon: url("/icons/common/prsk/honami.png");
}

.saki {
  --color: #ffe8c6;
  --icon: url("/icons/common/prsk/saki.png");
}

.shiho {
  --color: #bfffd1;
  --icon: url("/icons/common/prsk/shiho.png");
}

.ichikasaki {
  --color: #b7fcf8;
  --icon: url("/icons/common/prsk/ichikasaki.png");
}

.leoneed {
  --color: #dad5eb;
  --icon: url("/icons/common/prsk/leoneed.png");
}

.touya {
  --color: #d4d5f0;
  --icon: url("/icons/common/prsk/touya.png");
}

.mizuki {
  --color: #f3e5f0;
  --icon: url("/icons/common/prsk/mizuki.png");
}

.minori {
  --color: #f9e3d1;
  --icon: url("/icons/common/prsk/minori.png");
}

.mafuyu {
  --color: #dfd8e8;
  --icon: url("/icons/common/prsk/minori.png");
}

.lenmeiko {
  --color: #f5c7b6;
}

.kohane {
  --color: #eee9df;
  --icon: url("/icons/common/prsk/kohane.png");
}

.kanade {
  --color: #dfe6ee;
  --icon: url("/icons/common/prsk/kanade.png");
}

.ena {
  --color: #dad1ce;
  --icon: url("/icons/common/prsk/ena.png");
}

.an {
  --color: #c4cdea;
  --icon: url("/icons/common/prsk/an.png");
}

.akito {
  --color: #f8dfd2;
  --icon: url("/icons/common/prsk/akito.png");
}

/************ OUTFIT SUBCLASSES (TWST -> PRSK) **************/

/* GHOSTS */

.ghost.chef {
  --icon: url("/icons/master chef spicy/ghost1.png");
}

.ghost.endless-c {
  --icon: url("/icons/halloween/ghostc.png");
}

/* CROWLEY */

.crowley.principal-general {
  --icon: url("/icons/common/twst/crowgeneral.png");
}

.crowley.principal-1 {
  --icon: url("/icons/common/twst/crow1.png");
}

.crowley.principal-2 {
  --icon: url("/icons/common/twst/crow2.png");
}

.crowley.principal-3 {
  --icon: url("/icons/common/twst/crow3.png");
}

.crowley.principal-4 {
  --icon: url("/icons/common/twst/crow4.png");
}

.crowley.principal-5 {
  --icon: url("/icons/common/twst/crow5.png");
}

.crowley.principal-6 {
  --icon: url("/icons/common/twst/crow6.png");
}

.crowley.principal-7 {
  --icon: url("/icons/common/twst/crow7.png");
}

/* GROUPS */

.silversebek.dorm-general {
  --icon: url("/icons/common/twst/dorm/silversebek.png");
}

.toocolourful.tsum2group-school {
  --icon: url("/icons/common/twst/school/kalimazulrookortholiliajadedeuce.png");
}

.treykalim.chef-general {
  --icon: url("/icons/master chef spicy/kalimtreygeneral.png");
}

.treycatermalleus.school {
  --icon: url("/icons/common/twst/school/treycatermalleus.png");
}

.treycatermalleus.silk {
  --icon: url("/icons/silk/treycatermalleus.png");
}

.treycatergrim.school {
  --icon: url("/icons/common/twst/school/treycatergrim.png");
}

.treycatergrim.silk {
  --icon: url("/icons/silk/treygrimcater.png");
}

.liliamalleussilver.school-general {
  --icon: url("/icons/common/twst/school/liliamalleussilver.png");
}

.jamilkalim.school-general {
  --icon: url("/icons/common/twst/school/jamilkalim.png");
}

.grimsebekjade.school-general {
  --icon: url("/icons/common/twst/school/grimsebekjade.png");
}

.jadesebek.apple {
  --icon: url("/icons/apple/jadesebek.png");
}

.epelmc.applechief {
  --icon: url("/icons/apple/epelchief.png");
}

.grimsebekjade.apple {
  --icon: url("/icons/apple/jadegrimsebek.png");
}

.grimsebekjade.apple2 {
  --icon: url("/icons/apple/sebekgrimjade.png");
}

.jadegrimsebekepel.apple {
  --icon: url("/icons/apple/jadegrimsebekepel.png");
}

.jadegrimidiasebek.school-general {
  --icon: url("/icons/common/twst/school/jadegrimidiasebek.png");
}

.jadegrimidiasebek.apple-general {
  --icon: url("/icons/apple/jadesebekgrimidia.png");
}

.jadegrimidiasebek.apple-general-2 {
  --icon: url("/icons/apple/grimsebekidiajade.png");
}

.jadegrimidiasebek.apple-general-3 {
  --icon: url("/icons/apple/idiajadesebekgrim.png");
}

.jadegrimidiasebek.apple2 {
  --icon: url("/icons/apple/idiagrimjadesebek.png");
}

.jadeepelidiagrimsebek.apple-general {
  --icon: url("/icons/apple/jadeepelidiagrimsebek.png");
}

.treycater.school-general {
  --icon: url("/icons/common/twst/school/treycater.png");
}

.treycater.silk-general {
  --icon: url("/icons/silk/treycater.png");
}

.jadeidia.school-general {
  --icon: url("/icons/common/twst/school/jadeidia.png");
}

.jadeidia.apple-general {
  --icon: url("/icons/apple/idiajade.png");
}

.jadeidia.apple-general2 {
  --icon: url("/icons/apple/jadeidia.png");
}

.sebekepel.apple {
  --icon: url("/icons/apple/sebekepel.png");
}

.sebekepel.apple2 {
  --icon: url("/icons/apple/epelsebek.png");
}

.grimsebekjade.school {
  --icon: url("/icons/common/twst/school/grimsebekjade.png");
}

.idiaepelsebek.apple {
  --icon: url("/icons/apple/idiaepelsebek.png");
}

.idiajadesebek.apple {
  --icon: url("/icons/apple/idiajadesebek.png");
}

.idiajadesebek.apple2 {
  --icon: url("/icons/apple/jadesebekidia.png");
}

.idiajadesebek.apple3 {
  --icon: url("/icons/apple/idiasebekjade.png");
}

.sebekepelidiajade.apple {
  --icon: url("/icons/apple/sebekepelidiajade.png");
}

.sebekepelidiajade.apple2 {
  --icon: url("/icons/apple/idiajadesebekepel.png");
}

.sebekepelidiajade.apple3 {
  --icon: url("/icons/apple/epelsebekidiajade.png");
}

.sebekepelidiajade.apple4 {
  --icon: url("/icons/apple/jadesebekidiaepel.png");
}

.sebekepelidiajade.apple5 {
  --icon: url("/icons/apple/idiasebekjadeepel.png");
}

.sebekepelidiajade.apple6 {
  --icon: url("/icons/apple/epelidiasebekjade.png");
}

/* CATER */

.cater.school-general {
  --icon: url("/icons/common/twst/school/catergeneral.png");
}

.cater.silk-general {
  --icon: url("/icons/silk/catergeneral.png");
}

/* TREY */

.trey.school-general {
  --icon: url("/icons/common/twst/school/treygeneral.png");
}

.trey.dorm-general {
  --icon: url("/icons/common/twst/dorm/treygeneral.png");
}

.trey.scary-general {
  --icon: url("/icons/halloween/treygeneral.png");
}

.trey.silk-general {
  --icon: url("/icons/silk/treygeneral.png");
}

/* birthday suit up */
.trey.bd-1 {
  --icon: url("/icons/birthday suit up/treyface1.png");
}

.trey.bd-2 {
  --icon: url("/icons/birthday suit up/treyface2.png");
}

.trey.bd-3 {
  --icon: url("/icons/birthday suit up/treyface3.png");
}

.trey.bd-4 {
  --icon: url("/icons/birthday suit up/treyface4.png");
}

.trey.bd-5 {
  --icon: url("/icons/birthday suit up/treyface5.png");
}

.trey.bd-6 {
  --icon: url("/icons/birthday suit up/treyface6.png");
}

.trey.bd-7 {
  --icon: url("/icons/birthday suit up/treyface7.png");
}

.trey.bd-8 {
  --icon: url("/icons/birthday suit up/treyface8.png");
}

.trey.bd-9 {
  --icon: url("/icons/birthday suit up/treyface9.png");
}

/* chef */
.trey.chef-general {
  --icon: url("/icons/master chef spicy/treygeneral.png");
}

.trey.chef-1 {
  --icon: url("/icons/master chef spicy/treyface1.png");
}

.trey.chef-2 {
  --icon: url("/icons/master chef spicy/treyface2.png");
}

.trey.chef-3 {
  --icon: url("/icons/master chef spicy/treyface3.png");
}

.trey.chef-4 {
  --icon: url("/icons/master chef spicy/treyface4.png");
}

/* LILIA */

.lilia.school-general {
  --icon: url("/icons/common/twst/school/liliageneral.png");
}

.lilia.ubd-general {
  --icon: url("/icons/union birthday/liliageneral.png");
}

.lilia.gym-general {
  --icon: url("/icons/common/twst/gym/liliageneral.png");
}

/* MALLEUS */

.malleus.school-general {
  --icon: url("/icons/common/twst/school/malleusgeneral.png");
}

.malleus.silk-general {
  --icon: url("/icons/silk/malleusgeneral.png");
}

/* SEBEK */

.sebek.history {
  --icon: url("/icons/lesson/sebekschool.png");
}

.sebek.flight {
  --icon: url("/icons/lesson/sebekpe.png");
}

.sebek.alchemy {
  --icon: url("/icons/lesson/sebeklab.png");
}

.sebek.school-general {
  --icon: url("/icons/common/twst/school/sebekgeneral.png");
}

.sebek.dorm-general {
  --icon: url("/icons/common/twst/dorm/sebekgeneral.png");
}

.sebek.apple-general {
  --icon: url("/icons/apple/sebek.png");
}

.sebek.scary-general {
  --icon: url("/icons/halloween/sebekgeneral.png");
}

.sebek.outdoor-general {
  --icon: url("/icons/outdoor/sebekgeneral.png");
}

.sebek.broomquet-general {
  --icon: url("/icons/broom birthday/sebekgeneral.png");
}

/* JADE */

.jade.apple-general {
  --icon: url("/icons/apple/jade.png");
}

.jade.school-general {
  --icon: url("/icons/common/twst/school/jadegeneral.png");
}

.jade.broomquet-general {
  --icon: url("/icons/broom birthday/jadegeneral.png");
}

.jade.dorm-general {
  --icon: url("/icons/common/twst/dorm/jadegeneral.png");
}

/* ORTHO */

.ortho.school-general {
  --icon: url("/icons/common/twst/school/orthogeneral.png");
}

.ortho.college-general {
  --icon: url("/icons/common/twst/school/orthonewgeneral.png");
}

.ortho.dorm-general {
  --icon: url("/icons/common/twst/dorm/orthogeneral.png");
}

/* IDIA */

.idia.apple-general {
  --icon: url("/icons/apple/idia.png");
}

.idia.school-general {
  --icon: url("/icons/common/twst/school/idiageneral.png");
}

.idia.tablet {
  --icon: url("/icons/common/twst/tablet.png");
}

.idia.dorm-general {
  --icon: url("/icons/common/twst/dorm/idiageneral.png");
}

/* EPEL */

.epel.apple-general {
  --icon: url("/icons/apple/epel.png");
}

.epel.school-general {
  --icon: url("/icons/common/twst/school/epelgeneral.png");
}

.epel.dorm-general {
  --icon: url("/icons/common/twst/dorm/epelgeneral.png");
}

/* VIL */

.vil.school-general {
  --icon: url("/icons/common/twst/school/vilgeneral.png");
}

.vil.dorm-general {
  --icon: url("/icons/common/twst/dorm/vilgeneral.png");
}

.vil.scary-general {
  --icon: url("/icons/halloween/vilgeneral.png");
}

/* ROOK */

.rook.school-general {
  --icon: url("/icons/common/twst/school/rookgeneral.png");
}

.rook.dorm-general {
  --icon: url("/icons/common/twst/dorm/rookgeneral.png");
}

.rook.scary-general {
  --icon: url("/icons/halloween/rookgeneral.png");
}

/* RIDDLE */

.riddle.gym-general {
  --icon: url("/icons/common/twst/gym/riddlegeneral.png");
}

.riddle.dorm-general {
  --icon: url("/icons/common/twst/dorm/riddlegeneral.png");
}

.riddle.scary-general {
  --icon: url("/icons/halloween/riddlegeneral.png");
}

/* ACE */

.ace.school-general {
  --icon: url("/icons/common/twst/school/acegeneral.png");
}

/* DEUCE */

.deuce.school-general {
  --icon: url("/icons/common/twst/school/deucegeneral.png");
}

.deuce.scary-general {
  --icon: url("/icons/halloween/deucegeneral.png");
}

/* LEONA */

.leona.school-general {
  --icon: url("/icons/common/twst/school/leonageneral.png");
}

/* outdoor */
.leona.outdoor-general {
  --icon: url("/icons/outdoor/leonafacegeneral.png");
}

.leona.outdoor-1 {
  --icon: url("/icons/outdoor/leonaface1.png");
}

.leona.outdoor-2 {
  --icon: url("/icons/outdoor/leonaface2.png");
}

.leona.outdoor-3 {
  --icon: url("/icons/outdoor/leonaface3.png");
}

.leona.outdoor-4 {
  --icon: url("/icons/outdoor/leonaface4.png");
}

/* RUGGIE - OUTDOOR */

.ruggie.outdoor-general {
  --icon: url("/icons/outdoor/ruggiegeneral.png");
}

.ruggie.outdoor-1 {
  --icon: url("/icons/outdoor/ruggieface1.png");
}

.ruggie.outdoor-2 {
  --icon: url("/icons/outdoor/ruggieface2.png");
}

.ruggie.outdoor-3 {
  --icon: url("/icons/outdoor/ruggieface3.png");
}

.ruggie.outdoor-4 {
  --icon: url("/icons/outdoor/ruggieface4.png");
}

.ruggie.outdoor-5 {
  --icon: url("/icons/outdoor/ruggieface5.png");
}

.ruggie.outdoor-6 {
  --icon: url("/icons/outdoor/ruggieface6.png");
}

.ruggie.outdoor-7 {
  --icon: url("/icons/outdoor/ruggieface7.png");
}

.ruggie.outdoor-8 {
  --icon: url("/icons/outdoor/ruggieface8.png");
}

/* FLOYD */

.floyd.school-general {
  --icon: url("/icons/common/twst/school/floydgeneral.png");
}

.floyd.outdoor-general {
  --icon: url("/icons/outdoor/floydgeneral.png");
}

.floyd.dorm-general {
  --icon: url("/icons/common/twst/dorm/floydgeneral.png");
}

/* AZUL */

.azul.school-general {
  --icon: url("/icons/common/twst/school/azulgeneral.png");
}


/* KALIM */

.kalim.school-general {
  --icon: url("/icons/common/twst/school/kalimgeneral.png");
}

.kalim.dorm-general {
  --icon: url("/icons/common/twst/dorm/kalimgeneral.png");
}

/* union birthday */
.kalim.ubd-general {
  --icon: url("/icons/union birthday/kalimgeneral.png");
}

.kalim.ubd-1 {
  --icon: url("/icons/union birthday/kalimface1.png");
}

.kalim.ubd-2 {
  --icon: url("/icons/union birthday/kalimface2.png");
}

.kalim.ubd-3 {
  --icon: url("/icons/union birthday/kalimface3.png");
}

.kalim.ubd-4 {
  --icon: url("/icons/union birthday/kalimface4.png");
}

.kalim.ubd-5 {
  --icon: url("/icons/union birthday/kalimface5.png");
}

.kalim.ubd-6 {
  --icon: url("/icons/union birthday/kalimface6.png");
}

/* birthday suit up */
.kalim.bd-general {
  --icon: url("/icons/birthday suit up/kalimgeneral.png");
}

.kalim.bd-1 {
  --icon: url("/icons/birthday suit up/kalimface1.png");
}

.kalim.bd-2 {
  --icon: url("/icons/birthday suit up/kalimface2.png");
}

.kalim.bd-3 {
  --icon: url("/icons/birthday suit up/kalimface3.png");
}

/* chef */
.kalim.chef-general {
  --icon: url("/icons/master chef spicy/kalimgeneral.png");
}

.kalim.chef-1 {
  --icon: url("/icons/master chef spicy/kalimface1.png");
}

.kalim.chef-2 {
  --icon: url("/icons/master chef spicy/kalimface2.png");
}

.kalim.chef-3 {
  --icon: url("/icons/master chef spicy/kalimface3.png");
}

.kalim.chef-4 {
  --icon: url("/icons/master chef spicy/kalimface4.png");
}

.kalim.chef-5 {
  --icon: url("/icons/master chef spicy/kalimface5.png");
}

/* JAMIL */

.jamil.school-general {
  --icon: url("/icons/common/twst/school/jamilgeneral.png");
}

.jamil.silk-general {
  --icon: url("/icons/silk/jamilgeneral.png");
}

.jamil.beans-general {
  --icon: url("/icons/beans/jamilgeneral.png");
}

/* birthday suitup */
.jamil.bd-1 {
  --icon: url("/icons/birthday suit up/jamilface1.png");
}

.jamil.bd-2 {
  --icon: url("/icons/birthday suit up/jamilface2.png");
}

.jamil.bd-3 {
  --icon: url("/icons/birthday suit up/jamilface3.png");
}

.jamil.bd-4 {
  --icon: url("/icons/birthday suit up/jamilface4.png");
}

.jamil.bd-5 {
  --icon: url("/icons/birthday suit up/jamilface5.png");
}

.jamil.bd-6 {
  --icon: url("/icons/birthday suit up/jamilface6.png");
}

.jamil.bd-7 {
  --icon: url("/icons/birthday suit up/jamilface7.png");
}

.jamil.bd-8 {
  --icon: url("/icons/birthday suit up/jamilface8.png");
}

/* SILVER */

.silver.history {
  --icon: url("/icons/lesson/silverschool.png");
}

.silver.flight {
  --icon: url("/icons/lesson/silverpe.png");
}

.silver.alchemy {
  --icon: url("/icons/lesson/silverlab.png");
}

.silver.gym-general {
  --icon: url("/icons/common/twst/gym/silvergeneral.png");
}

.silver.school-general {
  --icon: url("/icons/common/twst/school/silvergeneral.png");
}

.silver.dorm-general {
  --icon: url("/icons/common/twst/dorm/silvergeneral.png");
}

/* birthday suit up  */
.silver.bd-general {
  --icon: url("/icons/birthday suit up/silvergeneral.png");
}

.silver.bd-1 {
  --icon: url("/icons/birthday suit up/silver1.png");
}

.silver.bd-2 {
  --icon: url("/icons/birthday suit up/silver2.png");
}

.silver.bd-3 {
  --icon: url("/icons/birthday suit up/silver3.png");
}

.silver.bd-4 {
  --icon: url("/icons/birthday suit up/silver4.png");
}

.silver.bd-5 {
  --icon: url("/icons/birthday suit up/silver5.png");
}

.silver.bd-6 {
  --icon: url("/icons/birthday suit up/silver6.png");
}

.silver.bd-7 {
  --icon: url("/icons/birthday suit up/silver7.png");
}

.silver.bd-8 {
  --icon: url("/icons/birthday suit up/silver8.png");
}

/* DWARVES */

.dominic.harveston {
  --icon: url("/icons/apple/dominic.png");
}

.hop.harveston {
  --icon: url("/icons/apple/hop.png");
}

.timmy.harveston {
  --icon: url("/icons/apple/timmy.png");
}

.shelpy.harveston {
  --icon: url("/icons/apple/shelpy.png");
}

.gran.harveston {
  --icon: url("/icons/apple/gran.png");
}

.snick.harveston {
  --icon: url("/icons/apple/snick.png");
}

.toby.harveston {
  --icon: url("/icons/apple/toby.png");
}

.granhoptimmydominic.harveston {
  --icon: url("/icons/apple/granhoptimmydominic.png");
}

.granhoptimmydominic.harveston2 {
  --icon: url("/icons/apple/grandominictimmyhop.png");
}

.granepel.crossjoin {
  --icon: url("/icons/apple/granepel.png");
}

.granhop.harveston {
  --icon: url("/icons/apple/granhop.png");
}

.dwarves.harveston {
  --icon: url("/icons/apple/dwarves.png");
}

.dwarves.harveston-2 {
  --icon: url("/icons/apple/grandominicshelpy.png");
}

.dwarvesminusdominic.harveston {
  --icon: url("/icons/apple/minusdominic.png");
}

/* GG WANDAHOI */

.nene.wonderhoi {
--icon: url("/icons/common/prsk/nene.png");
}

/* VIRTUAL SINGER VARIATIONS */

.len.vbs {
  --icon: url("/icons/common/prsk/lenvbs.png");
}

.rin.wonderhoi {
  --icon: url("/icons/common/prsk/rinwxs.png");
}

.rin.vbs {
  --icon: url("/icons/common/prsk/rinvbs.png");
}

.rin.nightcord {
  --icon: url("/icons/common/prsk/rin25.png");
}

.kaito.gallerian {
  --icon: url("/icons/common/prsk/gallerian.png");
}

.kaito.vbs {
  --icon: url("/icons/common/prsk/kaitovbs.png");
}

.meiko.banica {
  --icon: url("/icons/common/prsk/banica.png");
}

.meiko.banica-glow {
  --icon: url("/icons/common/prsk/banica2.png");
}

.meiko.banica-eats {
  --icon: url("/icons/common/prsk/banica3.png");
}

.meiko.vbs {
  --icon: url("/icons/common/prsk/meikovbs.png");
}

.meiko.nightcord {
  --icon: url("/icons/common/prsk/meiko25.png");
}

.luka.kayo {
  --icon: url("/icons/common/prsk/kayo.png");
}

.luka.mmj {
  --icon: url("/icons/common/prsk/lukammj.png");
}

.luka.nightcord {
  --icon: url("/icons/common/prsk/luka25.png");
}

.miku.regular {
  --icon: url("/icons/common/prsk/miku.png");
}

.miku.vbs {
  --icon: url("/icons/common/prsk/mikuvbs.png");
}

.miku.nightcord {
  --icon: url("/icons/common/prsk/miku25.png");
}

.lenmeiko.vbs {
  --icon: url("/icons/common/prsk/lenmeikovbs.png");
}