/* Bubble background base is f7f1e4. Color based off the character's image  color's HUE */

.name {
  position: relative;
  left: 5px;
  top: 22px;
  text-transform: uppercase;
  font-size: 90%;
  font-weight: bold;
}

.thought {
  color: #3939a7;
}

.bubble > p {
  margin-top: .55em;
  margin-bottom: 0;
}

span.b {
  display : inline-block;
}

.icon {
  display: inline-block;
  width: 95px;
  height: 95px;
  float: left;
  clear: left;
  margin: 0 !important;
  border-radius: 50%;
  background-image: var(--icon);
  background-size: cover;
}

.arrow {
  width: 0;
  height: 0;
  float: left;
  margin: 67px 0 0 2px;
  border-top: 10px solid transparent;
  border-right: 25px solid var(--color, #f1f1f1);
  border-bottom: 15px solid transparent;
}

.bubble {
  margin-left: 120px;
  margin-top: 20px;
  padding: 16px;
  border-radius: 10px;
  background: var(--color, #f1f1f1);
}

.bubble:nth-of-type(n+4) {
  margin-top: 5px;
}

.bubble:last-of-type {
  margin-bottom: 25px;
}

@media (max-width: 650px) {
  .icon {
    width: 55px !important;
    height: 55px !important;
  }

  .arrow {
    border-top: 8px solid transparent !important;
    border-bottom: 8px solid transparent !important;
    border-right: 15px solid var(--color, #f1f1f1) !important;
    margin: 30px 0 0 2px !important;
  }

  .bubble {
    padding: .75em !important;
    margin-left: 70px !important;
  }

  .bubble:last-of-type {
    margin-bottom: 15px !important;
  }
}

/* GENERAL UNKNOWN CHARACTER PORTRAIT */

.mc {
  --color: #bdbdbd;
  --icon: url("/icons/common/mcdialogue.png");
}

/* NENEROBO */

.nenerobo-day {
  --color: #d6ddd8;
  --icon: url("/icons/common/prsk day/nenerobo.png");
}

.nenerobo-dusk {
  --color: #d6ddd8;
  --icon: url("/icons/common/prsk dusk/nenerobo.png");
}

/* CROWLEY */

.crowley-1 {
  --color: #e7e5ec;
  --icon: url("/icons/common/twst/crow1.png");
}

.crowley-2 {
  --color: #e7e5ec;
  --icon: url("/icons/common/twst/crow2.png");
}

.crowley-3 {
  --color: #e7e5ec;
  --icon: url("/icons/common/twst/crow3.png");
}

.crowley-4 {
  --color: #e7e5ec;
  --icon: url("/icons/common/twst/crow4.png");
}

.crowley-5 {
  --color: #e7e5ec;
  --icon: url("/icons/common/twst/crow5.png");
}

.crowley-6 {
  --color: #e7e5ec;
  --icon: url("/icons/common/twst/crow6.png");
}

.crowley-7 {
  --color: #e7e5ec;
  --icon: url("/icons/common/twst/crow7.png");
}

/* GHOSTS */

.ghost-chef {
  --color: #e7e5ec;
  --icon: url("/icons/master chef spicy/ghost1.png");
}

/************ TWST -> PRSK **************/

/* TREY - BIRTHDAY */

.trey-bd-1 {
  --color: #98c99e;
  --icon: url("/icons/trey birthday/treyface1.png");
}

.trey-bd-2 {
  --color: #98c99e;
  --icon: url("/icons/trey birthday/treyface2.png");
}

.trey-bd-3 {
  --color: #98c99e;
  --icon: url("/icons/trey birthday/treyface3.png");
}

.trey-bd-4 {
  --color: #98c99e;
  --icon: url("/icons/trey birthday/treyface4.png");
}

.trey-bd-5 {
  --color: #98c99e;
  --icon: url("/icons/trey birthday/treyface5.png");
}

.trey-bd-6 {
  --color: #98c99e;
  --icon: url("/icons/trey birthday/treyface6.png");
}

.trey-bd-7 {
  --color: #98c99e;
  --icon: url("/icons/trey birthday/treyface7.png");
}

.trey-bd-8 {
  --color: #98c99e;
  --icon: url("/icons/trey birthday/treyface8.png");
}

.trey-bd-9 {
  --color: #98c99e;
  --icon: url("/icons/trey birthday/treyface9.png");
}

/* TREY - CHEF UNIFORM */

.trey-chef-general {
  --color: #98c99e;
  --icon: url("/icons/master chef spicy/treygeneral.png");
}

.trey-chef-1 {
  --color: #98c99e;
  --icon: url("/icons/master chef spicy/treyface1.png");
}

.trey-chef-2 {
  --color: #98c99e;
  --icon: url("/icons/master chef spicy/treyface2.png");
}

.trey-chef-3 {
  --color: #98c99e;
  --icon: url("/icons/master chef spicy/treyface3.png");
}

.trey-chef-4 {
  --color: #98c99e;
  --icon: url("/icons/master chef spicy/treyface4.png");
}

/* KALIM - CHEF UNIFORM */

.kalim-chef-general {
  --color: #f5e1c7;
  --icon: url("/icons/master chef spicy/kalimgeneral.png");
}

.kalim-chef-1 {
  --color: #f5e1c7;
  --icon: url("/icons/master chef spicy/kalimface1.png");
}

.kalim-chef-2 {
  --color: #f5e1c7;
  --icon: url("/icons/master chef spicy/kalimface2.png");
}

.kalim-chef-3 {
  --color: #f5e1c7;
  --icon: url("/icons/master chef spicy/kalimface3.png");
}

.kalim-chef-4 {
  --color: #f5e1c7;
  --icon: url("/icons/master chef spicy/kalimface4.png");
}

.kalim-chef-5 {
  --color: #f5e1c7;
  --icon: url("/icons/master chef spicy/kalimface5.png");
}

/* TREY & KALIM - CHEF UNIFORM */

.treykalim-chef-general {
  --color: #e5e6b0;
  --icon: url("/icons/master chef spicy/kalimtreygeneral.png");
}

/* RUI - WINTER UNIFORM */

.rui-winter-day-8 {
  --color: #dbc7e7;
  --icon: url("/icons/common/prsk day/ruiface8.png");
}

.rui-winter-dusk-1 {
  --color: #dbc7e7;
  --icon: url("/icons/common/prsk dusk/ruiface1.png");
}

/* RUI - WONDERHOI */

.rui-unit-day-1 {
  --color: #dbc7e7;
  --icon: url("/icons/common/prsk day/ruiunitface1.png");
}

/* TSUKASA - WINTER UNIFORM */

.tsukasa-winter-day-3 {
  --color: #fff9e7;
  --icon: url("/icons/common/prsk day/tsukasaface3.png");
}

/* TSUKASA - WONDERHOI */

.tsukasa-unit-day-1 {
  --color: #fff9e7;
  --icon: url("/icons/common/prsk day/tsukasaunitface1.png");
}

/* NENE - WONDERHOI */

.nene-unit-day-1 {
  --color: #d6ebd9;
  --icon: url("/icons/common/prsk day/neneunitface1.png");
}

.nene-unit-dusk-1 {
  --color: #d6ebd9;
  --icon: url("/icons/common/prsk dusk/neneunitface1.png");
}

/* EMU - WONDERHOI */

.emu-unit-day-1 {
  --color: #fce0fa;
  --icon: url("/icons/common/prsk day/emuunitface1.png");
}

.mitsuru {
  --color: #f7e9e4;
  --icon: url("/tl/img/icon/enst/mitsuru.png");
}

.mayoi {
  --color: #f2e4f7;
  --icon: url("/tl/img/icon/enst/mayoi.png");
}

.mayoi_a {
  --icon: url("/tl/img/icon/enst/mayoi_a.png");
}

.mayoi_b {
  --color: #f2e4f7;
  --icon: url("/tl/img/icon/enst/mayoi_b.png");
}

.shinobu {
  --color: #f7f5e4;
  --icon: url("/tl/img/icon/enst/shinobu.png");
}

.arashi {
  --color: #f7f5e4;
  --icon: url("/tl/img/icon/enst/arashi.png");
}

.keito {
  --color: #e4f7eb;
  --icon: url("/tl/img/icon/enst/keito.png");
}

.koga {
  --color: #edf0f0;
  --icon: url("/tl/img/icon/enst/koga.png");
}

.subaru {
  --color: #f7efe4;
  --icon: url("/tl/img/icon/enst/subaru.png");
}

.kanata {
  --color: #e4f3f7;
  --icon: url("/tl/img/icon/enst/kanata.png");
}

.izumi {
  --color: #e4eff7;
  --icon: url("/tl/img/icon/enst/izumi.png");
}

.kaoru {
  --color: #f7f2e4;
  --icon: url("/tl/img/icon/enst/kaoru.png");
}

.souma {
  --color: #e4e4f7;
  --icon: url("/tl/img/icon/enst/souma.png");
}
